<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <!--https://www.w3schools.com/bootstrap/bootstrap_theme_me.asp-->

  <title>Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="/static/style.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Misa</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/classic_mode">Classic Mode</a></li>
        <li><a href="#">Survial Mode</a></li>
        <li><a href="#">Dungeoun Mode</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h1 class="margin">Choose Your Adventure</h1>
  
  <!--<h3>Welcome to the Game!!</h3>-->
  <!-- img src="https://drive.google.com/uc?export=view&id=1pMq0I_7xSd40LrvrJXPKkinAEVD_MR1D" alt="Photo" style= 'width: 500px' -->

<!-- Second Container -->
  <!-- <h3 class="margin">Are you ready to play?</h3>-->
  <p>If you are ready to play, click the button below to start your adventure!</p>
  <a href="/classic_mode" class="btn btn-default btn-lg">
   Let the Adventure Begin!!
  </a>



</div>


<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>Created by Misa Hamanaka</a></p> 
</footer>

</body>
</html>
